@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

$main: #4F39F6;
$bg:#F7FAFC;
$black: #000;
$white: #fff;
$gray: #777;
$warning: #f7b500;
$input_bg: #fafafa;
$input_hint: #aaaaaa;
$input_stroke: #f4f4f4;
$border-radius: 10px;
$transition: all 0.3s ease-in-out;
$shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background: $input_hint;
  height: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li[data-sonner-toast=""] {
  padding: 12px;
}

a {
  text-decoration: none;
  color: $black;
}

button {
  border: none;
  background-color: unset;
  color: #000;
}

.row {
  margin: 0;
}

input[type="number"] {
  &::-webkit-outer-spin-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
  appearance: textfield;
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  @include clearInput();
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: $shadow !important;
  margin-top: 14px !important;
  background: $white;
  border-radius: 8px;
  text-align: start !important;
  padding: 8px;
}

.dropdown-toggle::after {
  display: none;
}

.main_section{
  margin-top: 100px;
}
.modal-header {
  border-bottom: 0;
  .btn-close {
    padding: 0 !important;
    background: none !important;
    box-shadow: none !important;
    margin-inline-end: 0 !important;
    margin-inline-start: auto !important;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    opacity: 1;
    &::before {
      @include centerAbsolute();
      font-family: "Font Awesome 6 Pro";
      content: "\f00d";
      font-size: 14px;
      color: $black;
    }
    &:hover {
      background: $input_stroke !important;
    }
  }
  h6 {
    color: $black;
    margin-bottom: 0;
  }
}

.modal-content {
  background: $white;
  border-radius: 24px;
  overflow: hidden;
}

.modal .modal-xl {
  max-width: unset;
  margin: 20px auto;
  justify-content: center;
}