.startup-page {
  .container {
    max-width: 1200px;
  }
  .search-box {
    position: relative;
    width: 100%;
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0 10px;
    i {
      position: absolute;
      margin: 1rem;
      color: #777;
      font-size: 1rem;
      transition: color 0.3s ease;
    }

    input {
      width: 100%;
      padding: 0.5rem 2rem 0.5em 2.8rem;
      border: 1px solid #ddd;
      border-radius: 10px;
      font-size: 1rem;
      background: #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
      transition: all 0.3s ease;

      &:focus {
        outline: none;
        border-color: $main;
        box-shadow: 0 0 6px rgba(43, 62, 82, 0.103);
      }

      &::placeholder {
        color: #aaa;
      }
    }

    &:hover i {
      color: $main;
    }
  }
  .startup-cards {
    padding-bottom: 2rem;
  }
}
.internship-modal {
  h6 {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .company-info {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }

  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    h6 {
      font-weight: 600;
      margin-bottom: 0.6rem;
      border-bottom: 1.5px solid #eee;
      padding-bottom: 0.3rem;
    }

    p,
    ul {
      font-size: 0.95rem;
      line-height: 2;
      color: #444;
    }

    ul {
      padding-left: 1.2rem;
      margin: 0;
      list-style: disc;
      li {
        margin-bottom: 0.4rem;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 0.5rem;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 1rem;
  }
}
.mvp-page {
  background: url("../images/patt.png") center/cover no-repeat;
  isolation: isolate;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffffffd8;
    z-index: -1;
  }
  .container {
    max-width: 1200px;
  }

  form {
    padding: 2rem;
    @media (max-width: 576px) {
      padding: 2rem 0;
    }
  }
}
