@import "./scss/config";

body {
  position: relative;
  direction: rtl;
  overflow-x: hidden;
  scrollbar-width: none;
  font-family: "Cairo", sans-serif;
  cursor: none;
  button,
  a {
    cursor: none;
  }
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background: url("../public/images/cursor.svg") no-repeat center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: top 0.05s ease, left 0.05s ease;
  }

  @import "./scss/layout";
  @import "./scss/form_ui";
  @import "./scss/error-page";
  @import "./scss/home";
  @import "./scss/auth_section";
  @import "./scss/career";
  @import "./scss/startup";
  @import "./scss/dashboard";
  @import "./scss/cards";
  @import "./scss/coach_dashboard";
  @import "./scss/blogs";
  @import "./scss/startup_dashboard";

  main {
    min-height: calc(100dvh - 300px);
  }

  &.en {
    font-family: "Poppins", sans-serif;
    direction: ltr;

    .form_ui .input-field .pass-group {
      input {
        border-radius: 12px 0 0 12px !important;
        border-right: 0 !important;
        border-left: 1px solid $input_stroke !important;
      }
      .show-pass {
        border-radius: 0 12px 12px 0 !important;
        border-left: 0 !important;
        border-right: 1px solid $input_stroke !important;
      }
    }

    header nav .nav_links {
      margin-left: 40px;

      @media screen and (max-width: 992px) {
        right: initial;
        left: -100%;
        margin-left: 0px;
        &.open {
          left: 0;
        }
      }
    }

    .back_btn i {
      transform: scale(-1);
    }
    .about-section .about-content .features-list li {
      border-right: none;
      border-left: 4px solid $main;
    }
    .success-section .controls-row .nav-btns .nav-btn i {
      transform: rotate(180deg);
    }
   
  }
  &.ar {
    .hero__panel .hero__overlay .hero_title .arrow {
      left: 0;
      transform: rotate(180deg);
    }
  }
}
